doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")
  body
    div.container-fluid
      div.row(style="height: 80vh;")
        div.col-2(style='border-right: 1px solid black')
          ul.nav.flex-sm-column
            li.nav-item
              a.nav-link(href="/") Process properties file
            li.nav-item
              a.nav-link(href="/addReleases") Add Releases
            li.nav-item
              a.nav-link(href="/showDuplicates") Show duplicates
            li.nav-item
              a.nav-link(href="/search") Search strings
            li.nav-item
              a.nav-link(href="/translate") Translate strings
        div.col-10
          block content
