extends layout

block content
    table.table.table-bordered
        thead
            tr
                th Value
                th Key Name
                th File Origin
        tbody
            each item in result
                each row, index in item.info
                    tr
                        if (index == 0)
                            td(rowspan=item.info.length)=item.value
                        td=row.keyName
                        if row.fileOrigin == 1
                            td RichClient
                        else
                            td Mobile